{
  "port": 8081,
  "host": "0.0.0.0",
  "secret": "12345",
  "db": {
    "mongodb": "mongodb://localhost/slides",
    "redis": {
    }
  },
  "auth": {
    "twitter": {
      "everyauth": {
        "myHostname": "http://local.host:8081",
        "consumerKey": "abcd",
        "consumerSecret": "abcd",
        "redirectPath": "/"
      }
    }
  }
}
