{
  "port": 8081,
  "host": "0.0.0.0",
  "username": "admin",
  "password": "13589",
  "db": {
    "host": "localhost",
    "port": 5984,
    "username": "admin",
    "password": "admin",
    "database": "slides"
  }
}
