!!! 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")

    link(href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono", rel="stylesheet")
    link(href=cdn("/css/style.css"), rel="stylesheet")

    script(src=cdn("/js/jquery-1.6.1.min.js"))

    - if (typeof title !== 'undefined')
      title Slides.IO - #{title}
    - else
      title Slides.IO

  body
    != body
