header
  h1
    span.left Slides.
    span.right IO
section#content
  - if (user)
    h2 Hey #{user.twit.name}
    p That is your slideshows
    ul
      - each slideshow in slideshows
        li
          a(href="/play/#{slideshow.slug}")= slideshow.title

    h2 Create a Slideshow:
    form(method="post", action="/api/slideshow")
      label(for="title")
        input(type="text", name="title", placeholder="Slideshow title")
        input(type="hidden", name="redirect", value="true")
      input(type="submit", value="Create!")

    br
    a.twitter-login(href="/logout") Logout
  - else
    h1 Hey!
    p
      | This is a realtime slideshow sharing service. <br />
      | Add, remove or edit your slides and all slideshow viewers will see changes in realtime. <br />
      | Only author of slideshow can move viewport.
    br
    a.twitter-login(href="/auth/twitter") Login with twitter
  br
  br
  small Copyright 2011 Fedor Indutny. All rights reserved
