section#container
  section#slides

script(src="/js/socket.io.min.js")
script(src="/js/showdown.min.js")
script(src="/js/prettify.js", onload="prettyPrint();", defer)
script(src="/js/main.js")

- if (owner)
  script(src="/js/admin.js")
